{% extends 'base.html' %} {% block content %}

<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button
  <button
    id="sidebarCollapse"
    type="button"
    class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
  >
    <i class="fa fa-bars mr-2"></i
    ><small class="text-uppercase font-weight-bold">Toggle</small>
  </button> -->

  <!-- Demo content -->
  <!-- <h2 class="display-4 text-black">HOME</h2> -->
  <!-- <p class="lead text-black mb-0">
    Yoga/workout addict building a new life in Canada.
  </p> -->
  <!-- <div class="separator"></div> -->
  <div class="row text-black">
    {% load static %}
    <img src="{% static 'images/home.jpg' %}" alt="home_image" />
  </div>
</div>
<!-- End demo content -->

{% endblock content %}
