{% extends 'base.html' %} {% load static %}{% load embed_video_tags %}
<!--  -->
{% block content %}

<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- content -->
  <h2 class="display-4 text-black">Snowboarding</h2>
  <p class="lead text-black mb-0">
    “Flying down on the mountain like a bird, there is nothing stop you feeling
    the wind”
  </p>
  <p class="lead text-black"></p>
  <div class="separator"></div>
  <div class="row text-center text-lg-start justify-content-start wrapcss">
    {% for post in posts %}
    <div class="col-lg-6 col-md-4 col-6">
      {% video post.youtubevideo 'small' %}
      <h3 class="pt-2">{{post.headline}}</h3>
      <p>{{post.sub_headline}}</p>
      <p class="" style="word-wrap: break-word">{{post.body}}</p>
      <p></p>
    </div>
    {% endfor %}

    <div class="grid4 ?">
      <!-- class="
        featurebox
        row
        text-center text-lg-start
        justify-content-around
        wrapcss
      " -->
      <div class="image-box ? width400 heightcalc">
        <img
          src="{% static 'images/snow_japan.jpg' %}"
          alt="Snow_image"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box ? width400 heightcalc">
        <img
          src="{% static 'images/snow_swiss1.jpg' %}"
          alt="Snow_image"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box ? width400 heightcalc">
        <img
          src="{% static 'images/snow_japan1.jpg' %}"
          alt="Snow_image"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box ? width400 heightcalc">
        <img
          src="{% static 'images/snow_swiss.jpg' %}"
          alt="Snow_image"
          class="img-thumbnail"
        />
      </div>

      <!-- <div class="col-lg-3 col-md-4 col-6 ? box400300">
        <a href="#" class="d-block mb-4 h-100">
          <img
            src="{% static 'images/snow_japan.jpg' %}"
            alt="Snow_image"
            class="img-thumbnail"
          />
        </a>
      </div>
      <div class="? width400 heightcalc">
        <a href="#" class="d-block mb-4 h-100">
          <img
            src="{% static 'images/snow_japan1.jpg' %}"
            alt="Snow_image"
            class="img-thumbnail"
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 ? box400300">
        <a href="#" class="d-block mb-4 h-100">
          <img
            src="{% static 'images/snow_swiss.jpg' %}"
            alt="Snow_image"
            class="img-thumbnail"
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 ? box400300">
        <a href="#" class="d-block mb-4 h-100">
          <img
            src="{% static 'images/snow_swiss1.jpg' %}"
            alt="Snow_image"
            class="img-thumbnail"
          />
        </a>
      </div> -->
    </div>
  </div>
</div>
<!-- End demo content -->

{% endblock %}
