{% extends 'base.html' %} {% load static %}{% load embed_video_tags %}
<!--  -->
{% block content %}

<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- content -->
  <h2 class="display-4 text-black">Traveling</h2>
  <p class="lead text-black mb-0">
    “In the end, we only regret the chances we didn’t take”
  </p>
  <p class="lead text-black"></p>
  <div class="separator"></div>
  <div class="row text-center text-lg-start justify-content-start wrapcss">
    {% for post in posts %}
    <div class="col-lg-6 col-md-4 col-6">
      <!-- <a href="#" class="d-block mb-4 text-center">
        <img
          class="img-fluid img-thumbnail"
          src="https://source.unsplash.com/pWkk7iiCoDM/400x300"
          alt=""
        />
      </a> -->

      {% video post.youtubevideo 'small' %}
      <h3 class="pt-2">{{post.headline}}</h3>
      <p>{{post.sub_headline}}</p>
      <p class="" style="overflow-wrap: break-word">{{post.body |safe}}</p>
      <p></p>
    </div>
    {% endfor %}
    <!-- 
    <div class="col-lg-6 col-md-4 col-6">
      <a href="#" class="d-block mb-4 text-center">
        <img
          class="img-fluid img-thumbnail"
          src="https://source.unsplash.com/aob0ukAYfuI/400x300"
          alt=""
        />
      </a>
      <h3>Title is here</h3>
      <p>sub headline is here</p>
      <p>
        body - Lorem ipsum dolor sit amet consectetur adipisicing elit. Id et
        possimus amet. Ratione enim molestias ex nulla placeat facere sed
        expedita sit culpa dicta! Vero delectus veniam dolorum vel tempore.
      </p>
    </div>
    <div class="col-lg-6 col-md-4 col-6">
      <a href="#" class="d-block mb-4 text-center">
        <img
          class="img-fluid img-thumbnail"
          src="https://source.unsplash.com/EUfxH-pze7s/400x300"
          alt=""
        />
      </a>
      <h3>Title is here</h3>
      <p>sub headline is here</p>
      <p>
        body - Lorem ipsum dolor sit amet consectetur adipisicing elit. Id et
        possimus amet. Ratione enim molestias ex nulla placeat facere sed
        expedita sit culpa dicta! Vero delectus veniam dolorum vel tempore.
      </p>
    </div>
    <div class="col-lg-6 col-md-4 col-6">
      <a href="#" class="d-block mb-4 text-center">
        <img
          class="img-fluid img-thumbnail"
          src="https://source.unsplash.com/M185_qYH8vg/400x300"
          alt=""
        />
      </a>
      <h3>Title is here</h3>
      <p>sub headline is here</p>
      <p>
        body - Lorem ipsum dolor sit amet consectetur adipisicing elit. Id et
        possimus amet. Ratione enim molestias ex nulla placeat facere sed
        expedita sit culpa dicta! Vero delectus veniam dolorum vel tempore.
      </p>
    </div> -->

    <div class="grid4 mb-2 mt-2">
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_paris.jpg' %}"
          alt="Snow_image1"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_paris2.jpg' %}"
          alt="Snow_image2"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_paris3.jpg' %}"
          alt="Snow_image3"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_paris4.jpg' %}"
          alt="Snow_image4"
          class="img-thumbnail"
        />
      </div>
    </div>
    <div class="grid4 mb-2">
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/sakura_japan.jpg' %}"
          alt="Snow_image1"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_london1.jpg' %}"
          alt="Snow_image2"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_london2.jpeg' %}"
          alt="Snow_image3"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_london3.jpg' %}"
          alt="Snow_image4"
          class="img-thumbnail"
        />
      </div>
    </div>
    <div class="grid4 mb-2">
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_paris5.jpg' %}"
          alt="Snow_image1"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_paris7.jpg' %}"
          alt="Snow_image2"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_swiss1.jpg' %}"
          alt="Snow_image3"
          class="img-thumbnail"
        />
      </div>
      <div class="image-box width400 heightcalc">
        <img
          src="{% static 'images/travel_japan.jpg' %}"
          alt="Snow_image4"
          class="img-thumbnail"
        />
      </div>
    </div>
<!-- 
    <div
      class="
        featurebox
        row
        text-center text-lg-start
        justify-content-around
        wrapcss
      "
    >
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/sesveuG_rNo/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/AvhMzHwiE_0/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/2gYsZUmockw/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/EMSDtjVHdQ8/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/8mUEy0ABdNE/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/G9Rfc1qccH4/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/aJeH0KcFkuc/400x300"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img
            class="img-fluid img-thumbnail"
            src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300"
            alt=""
          />
        </a>
      </div> -->
    </div>
  </div>
</div>
<!-- End demo content -->

{% endblock %}
